.upload-container {
    margin: 15px 0;

    input {
        display: none;
    }

    .custom-label {
        padding: 6px 12px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #fff;
    }
}